<section class="account">
    <div class="account--avatar">
        <img src="user_icon.png" alt="Avatar Image">
    </div>
    <div class="account--information">
        <p class="account--information-user bold">Alex</p>
        <p class="account--information-caretakers">3 verzorgers</p>
    </div>
</section>
