<section class="conversational-ui navigation-state--nav-only" id="navigation-state--nav-only">
    <!-- Page Content -->
    <form method="POST" enctype="multipart/form-data" action="/submit-memory">
        <!-- <div class="back">
            <a href="/">&#8592 terug naar alle herinneringen</a>
        </div> -->
        <input type="text" name="songId" id="song-id" class="hidden">
        <input type="text" name="songAlbumCover" id="song-album-cover" class="hidden">
        <input type="text" name="songName" id="song-name" class="hidden">
        <input type="text" name="songArtist" id="song-artist" class="hidden">

        <fieldset id="input-1" class="navigation-state--buttons-only">
            <legend class="legend-text">Welk gevoel kreeg [name] bij deze herinnering?</legend>
            <div class="input" id="emotions">
                <%- include('./sliders') %>
            </div>
            <div class="buttons">
                <input type="submit" class="button button-secundair" value="Opslaan"></input>
                <a href="#input-2" class="button button-primair">Volgende</a>
            </div>
        </fieldset>
        <fieldset id="input-2" class="navigation-state--button-input">
            <legend class="legend-text">Wat zijn steekwoorden die passen bij deze herinnering? </legend>
            <div class="input input-text">
                <input name="keywords" id="keywords" class="input-field" type="text" placeholder="Titel"
                    maxlength="15" />
            </div>
            <div class="buttons">
                <input type="submit" class="button button-secundair" value="Opslaan"></input>
                <a href="#input-3" class="button button-primair">Volgende</a>
            </div>
        </fieldset>
        <fieldset id="input-3" class="navigation-state--button-input">
            <legend class="legend-text">Geef de herinnering een titel.</legend>
            <div class="input input-text">
                <input name="title" id="title" class="input-field" type="text" placeholder="Titel" maxlength="40" />
            </div>
            <div class="buttons">
                <input type="submit" class="button button-secundair" value="Opslaan"></input>
                <a href="#input-4" class="button button-primair">Volgende</a>
            </div>
        </fieldset>

        <fieldset id="input-4" class="navigation-state--button-input">
            <legend class="legend-text">Hoe zou je de herinnering omschrijven?</legend>
            <div class="input input-text">
                <input name="description" id="description" class="input-field" type="text"
                    placeholder="De herinnering gaat over" value="" maxlength="40" />
            </div>
            <div class="buttons">
                <input type="submit" class="button button-sec" value="Opslaan"></input>
                <a href="#input-5" class="button button-primair">Volgende</a>
            </div>
        </fieldset>

        <fieldset id="input-5" class="navigation-state--buttons-only">
            <legend class="legend-text">Wil je foto's of een spraakbericht toevoegen aan de herinnering?</legend>
            <div class="input input-button--choose-media">
                <div class="buttons--choose-media">
                    <button class="media-button" id="button--add-image"><img src="./icons/camera_alt-24px.svg"></button>
                    <button class="media-button" id="button--add-voice-recording"><img
                            src="./icons/mic-24px.svg"></button>
                    <!-- <button class="media-button" id="button--add-text"><img src="./icons/text_fields-24px.svg"></button> -->
                </div>
                <div class="output--add-image" id="output--add-image">
                    <div class="input-button--choose-file">
                        <input type="file" id="real-file" hidden="hidden" name="image-upload" />
                        <button type="button" id="custom-button" class="button button-add-image">
                            <!--                        <img src="./icons/camera_alt-24px.svg" alt="Image Icon" />-->
                            Kies een afbeelding
                        </button>
                        <span id="custom-text">Nog geen afbeelding gekozen.</span>
                    </div>
                    <img id="output-image" class="output-image hide" />
                </div>
                <div class="output--add-voice-recoding" id="output--add-voice-recoding">
                    <div class="mic-container">
                        <div class="circle">
                            <img class="mic-icon" src="./voice_icon.png" alt="Microphone icon">
                        </div>
                        <div class="timer">
                            <span class="minutes">00</span> <span class="colon">:</span><span class="seconds">00</span>
                        </div>
                    </div>
                    <audio></audio>
                    <audio id="savedAudio" controls></audio>
                </div>
                <div class="output--add-text" id="output--add-text">
                    <div class="input text-add-media">
                        <input id="description" type="text" placeholder="De herinnering gaat over" value=""
                            maxlength="40" />
                        <img src="/icons/send.svg" alt="send button" class="send-button">
                    </div>
                </div>
            </div>
            <div class="buttons one-button">
                <input type="submit" class="button button-primair" value="Opslaan"></input>
            </div>
        </fieldset>
        <!-- <fieldset id="input-7">
            <legend class="legend-text">
                Welke verzorgers mogen deze herinnering zien?
            </legend>
            <div class="input input-button">
                <input type="checkbox" id="verzorger-1" value="verzorger-1"/>
                <label for="verzorger-1">Marie</label>
                <input type="checkbox" id="verzorger-2" value="verzorger-2"/>
                <label for="verzorger-2">Pieter</label>
                <input type="checkbox" id="verzorger-3" value="verzorger-3"/>
                <label for="verzorger-3">Noortje</label>
            </div>
            <div class="buttons">
                <input type="submit" class="button save">Herinnering opslaan</input>
            </div>
        </fieldset> -->
        <%- include('./scroll-buttons') %>
    </form>
</section>