<section class="container-added-memories">
    <h1>Hi Coen, welke herinneringen wil Anton beluisteren?</h1>
    
    <% if (data) { %>
        <div class="container--memories new">
        <% data.forEach(item => {%>
            <% if (item.memoryId) { %>
            <a href="/<%=item.memoryId%>" class="container--memories-memory">
            <% } else { %>
                <a href="#" class="container--memories-memory">
            <% } %> 
                <% if (item.title) { %>
                    <h2><%=item.title%></h2>
                <% } %>
                <% if (item.media.length > 0) { %>
                    <img src=".<%=item.toJSON().media[0].path%>" alt="chosen memory image">
                <% } else if (item.song.length > 0) { %>
                    <img src="<%=item.toJSON().song[0].albumCover%>" alt="album cover">
                <% } else { %>
                    <img src="/placeholder.jpg" alt="placeholder image">
                <% } %>
                <% if (item.emotion) { %>
                    <% if (item.emotion === '5') { %>
                        <div class="overlay overlay--glory-green"></div>
                    <% } else if (item.emotion === '4') { %>
                        <div class="overlay overlay--glory-blue"></div>
                    <% } else if (item.emotion === '3') { %>
                        <div class="overlay overlay--glory-grey"></div>
                    <% } else if (item.emotion === '2') { %>
                        <div class="overlay overlay--glory-salmon"></div>
                    <% } else if (item.emotion === '1') { %>
                        <div class="overlay overlay--glory-red"></div>
                    <% } %>
                <% } else { %>
                    <div class="overlay overlay--glory-grey"></div>
                <% } %>
            </a>
        <% }) %>
        </div>
    <% } %>
     
    <a href="/add-memory" class="add-btn"><img src="plus.svg" alt="Add icon"></a>
</section>
