<section class="container-added-memories">
    <h1>Welke herinneringen wilt u beluisteren?</h1>
    <div class="container--memories">
        <a href="/memory-details" class="container--memories-memory">
            <h2>Zomer in Frankrijk</h2>
            <div class="overlay"></div>
        </a>
        <a href="" class="container--memories-memory">
            <h2>Feest van Bert</h2>
            <div class="overlay"></div>
        </a>
        <a href="" class="container--memories-memory">
            <h2>Ontmoeting Anita</h2>
            <div class="overlay"></div>
        </a>
        <a href="" class="container--memories-memory">
            <h2>Eerste wintersport</h2>
            <div class="overlay"></div>
        </a>
    </div>
    <a href="/add-memory" class="add-btn"><img src="plus.svg" alt="Add icon"></a>
</section>