<section class="container-added-memories">
    <h1>Welke herinneringen wilt u beluisteren?</h1>
    <div class="container--memories">
        <a href="/memory-details" class="container--memories-memory">
            <h2>Zomer in Frankrijk</h2>
            <img src="Rolling_Stone.png" alt="image of Like A Rolling Stone">
            <div class="overlay overlay--glory-salmon"></div>
        </a>
        <a href="" class="container--memories-memory">
            <h2>Feest van Bert</h2>
            <img src="Like_A_Rolling_Stone.jpg" alt="image of Like A Rolling Stone">
            <div class="overlay overlay--glory-red"></div>
        </a>
        <a href="" class="container--memories-memory">
            <h2>Ontmoeting Anita</h2>
            <img src="After_Math.jpg" alt="image of Like A Rolling Stone">
            <div class="overlay overlay--glory-blue"></div>
        </a>
        <a href="" class="container--memories-memory">
            <h2>Eerste wintersport</h2>
            <img src="Here_Comes_The_Sun.jpg" alt="image of Like A Rolling Stone">
            <div class="overlay overlay--glory-green"></div>
        </a>
        <a href="" class="container--memories-memory">
            <h2>Eerste wintersport</h2>
            <img src="Here_Comes_The_Sun.jpg" alt="image of Like A Rolling Stone">
            <div class="overlay overlay--glory-grey"></div>
        </a>
    </div>
    <a href="/add-memory" class="add-btn"><img src="plus.svg" alt="Add icon"></a>
</section>