<section class="memories">
    <div class="memory--circles">
        <div class="memory--circle-big"></div>
        <div class="memory--circle"></div>
        <div class="memory--circle"></div>
    </div>
    <h1>Er zijn nog geen herinneringen</h1>
</section>