        <footer>
            <!-- Content Footer -->
        </footer>
        <script src="https://sdk.scdn.co/spotify-player.js"></script>
        <script src="/index.js" type="module"></script>
        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', function() {
                    navigator.serviceWorker.register('./../service-worker.js')
                        .then(function(registration) {
                            return registration.update();
                        });
                });
            }
        </script>
    </body>
</html>