<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="">
    <link rel="shortcut icon" type="image/png" href="/favicon.ico" />
    <link rel="stylesheet" href="/index.css">
    <title><%= title %></title>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <!-- <script src="/index-min.js" defer></script> -->
    <script src="/index.js" defer></script>
</head>

<body>