<div class="music-player--small" id="spotify--navigation-player">
    <p class="back" id="back">Terug naar het overzicht</p>
    <div id="song-information" class="song-info"></div>
    <div class="controls">
        <img src="/pause_icon.svg" alt="pause icon">
    </div>
    <a class="button button-primair" id="add-memory">Herinnering toevoegen</a>
</div>