<div class="music-player--small">
    <p class="back" id="back">Terug naar het overzicht</p>
    <div id="song-information" class="song-info"></div>
    <div class="controls">
        <img src="/pause_icon.svg" alt="pause icon">
    </div>
    <a href="#" class="button">Herinnering toevoegen</a>
</div>