<section class="playlist-large">
    <div class="container" >
        <p id="back-overview" class="back-overview">Terug naar het overzicht</p>
        <div id="playlist-large">

        </div>
    </div>
</section>