<div class="search">
  <form method="POST" action="/search">
    <input type="text" placeholder="Zoek naar een Spotify nummer" name="song"><input type="submit" value="search">
  </form>
<<<<<<< HEAD
</div>

=======
</div>
>>>>>>> e0b658a2dde2b38be54511fd60556c66985c5793
