<div class="search">
    <p class="loader">
      <em>De nummers worden opgehaald...</em>
    </p>
    <input type="text" placeholder="Zoek naar een Spotify nummer" id="input_song">
    <img src="/search_icon.svg" alt="search icon" id="submit_song">
</div>
