<div class="sliders">
    <p>Emotie</p>
    <div class="slidecontainer">
        <input type="range" min="0" max="10" step="2.5" value="5" class="slider-heart" id="range-heart" list="number" name="emotion">
        <svg class="heart" id="heart" data-name="heart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.93 18.25">
            <title>Heart (ranking the experience color)</title>
            <path class="heart" id="heart-path"
                d="M225.09,262.45a5.54,5.54,0,0,1,5.17-3.27,4.84,4.84,0,0,1,3,1.46,5.63,5.63,0,0,1,1.17,3.22c.19,3-3.51,7.8-9.59,12.33a50.54,50.54,0,0,1-5.81-5.65c-2.73-3.12-3.56-4.86-3.52-6.56a6,6,0,0,1,.45-2.09,5.23,5.23,0,0,1,2.23-2.51C220,258.49,223.05,259.58,225.09,262.45Z"
                transform="translate(-214.95 -258.59)" />
        </svg>
        <p class="container-slider-value"><span class="value-heart" id="value-heart"></span><span
                id="value-descr-heart">normaal</span></p>
    </div>

    <p>Energie</p>
    <div class="slidecontainer">
        <input type="range" min="0" max="10" step="2.5" value="5" class="slider-lightning" id="range-lightning"
               list="number" name="energy">
        <svg class="lightning" id="lightning" id="lightning" data-name="lightning" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 318.15 509.65">
            <title>Lightning (ranking the experience color)</title>
            <path id="lightning-path"
                d="M413.62,197.41a10.67,10.67,0,0,0-9.28-5.41H264.61L288,13a10.73,10.73,0,0,0-19.66-7L98.45,303.75A10.67,10.67,0,0,0,107.53,320H245.18L226.61,499.26a10.73,10.73,0,0,0,19.76,6.56L413.5,208.15a10.67,10.67,0,0,0,.13-10.74Z"
                transform="translate(-96.86 -1.16)" />
        </svg>
        <p class="container-slider-value"><span class="value-lightning" id="value-lightning"></span><span
                id="value-descr-lightning">normaal</span></p>
    </div>
</div>