.account {
    display: flex;
    flex-direction: row;
    // padding: $indent-xxxs;
    margin-bottom: $indent;

    &--avatar {
        width: 54px;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $grey;
        border-radius: 50%;

        img {
            height: 25px;
        }
    }

    &--information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: $indent-xxxs;
    }
}
