.account {
    display: flex;
    flex-direction: row;
    padding: .5rem;
    margin-bottom: 1rem;

    &--avatar {
        width: 54px;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $grey;
        border-radius: 50%;

        img {
            height: 32px;
        }
    }

    &--information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: .5rem;
    }
}
