.conversational-ui {
    form {
        fieldset {
            .input-button {
                &--choose-media {
                    z-index: 999;
                    margin-left: $indent;
                }

                &--choose-file {
                    display: flex;
                    flex-direction: column;

                    span {
                        margin-top: $indent;
                    }
                }
            }

            .buttons--choose-media {
                display: flex;
            }

            .output--add-image,
            .output--add-voice-recoding,
            .output--add-text {
                display: none;

                &.active {
                    display: block;
                    margin-left: $indent;
                    position: absolute;
                    margin-top: $indent-xxxl;
                }
            }

            .output--add-image {
                .output-image {
                    max-width: 250px;
                    max-height: 200px;
                    margin-top: $indent;
                    border-radius: 4px;
                    right: -($indent-xxxl);
                    position: absolute;
                }
            }

            .output--add-text {
                .text-add-media {
                    width: 80vw;
                    padding: 0 20px;
                    display: flex;
                    justify-content: space-between;
                    border-radius: 30px;
                    text-align: left;
                    border: 1px solid $lightgrey;
    
                    input[type='text'] {
                        width: 90%;
                        line-height: 2.5rem;
                    }
                }
            }
        }
    }
}
