.button {
    background-color: $lightblue;
    display: block;
    padding: $indent-xxxs $indent;
    /* width: 10rem; */
    overflow-wrap: break-word;
    text-align: center;
    border: 0;
    border-radius: 50px;
    color: $white;
    width: 55vw;
}

.button-icon {
    border: 0;
    padding: .5rem;
    border-radius: 4px;
}

.buttons {
    position: fixed;
    bottom: $indent;
    width: 100%;

    .button {
        margin: 1rem auto 0;
        text-align: center;
        display: block;
        width: 70vw;
        background-color: $lightblue;
        border-radius: 15px;
        color: $white;
        padding: 1rem;
    }
}

<<<<<<< HEAD
.button--empty {
    position: relative;
    color: $lightblue;
    padding-right: 25px;

    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background: url('/arrow_right.svg') no-repeat;
        background-size: 22px;
        width: 22px;
        height: 22px;
    }
=======
.button-icon,
.media-button {
    @include media-button;
}

.media-button {
    margin: $indent 0 $indent $indent;
    border: 0;
>>>>>>> 684bb4590064b2797900a06b95b34dfb05797f6f
}
