.button {
    background-color: $lightblue;
    display: block;
    padding: $indent-xxxs $indent;
    /* width: 10rem; */
    overflow-wrap: break-word;
    text-align: center;
    border: 0;
    border-radius: 50px;
    color: $white;
    width: 55vw;
}

.button-icon {
    border: 0;
    padding: .5rem;
    border-radius: 4px;
}

.buttons {
    position: fixed;
    bottom: $indent;
    width: 100%;

    .button {
        margin: 1rem auto 0;
        text-align: center;
        display: block;
        width: 70vw;
        background-color: $lightblue;
        border-radius: 15px;
        color: $white;
        padding: 1rem;
    }
}

.button-icon,
.media-button {
    @include media-button;
}

.media-button {
    margin: $indent 0 $indent $indent;
    border: 0;
}
