.buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 5%;
    right: 5%;
}  

.one-button {
    justify-content: flex-end;
}
  
.button {
    overflow-wrap: break-word;
    text-align: center;
    border-radius: 50px;
    width: 43vw;
    padding: $indent-xs $indent;
    margin: $indent-xxxs 0;
}

.button-primair {
    background-color: $glory-blue;
    color: $white;
}

.button-secundair {
    background-color: $white;
    color: $darkgreen;
    // text-decoration: underline;
    border: 1px solid $darkgreen;
}

.button-icon {
    border: 0;
    padding: $indent-xxxs;
    border-radius: 4px;
}

// Add music 

.button-muziekstream {
    background-color: $glory-salmon;
    width: 70vw;
    padding: $indent $indent-xl;
    border-radius: 50px;
    color: $white;
    margin: $indent-xxxs 0;
    text-align: start;
    font-size: 1.2rem;
}

.button--empty {
    position: relative;
    color: $glory-blue;
    padding-right: 25px;

    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background: url('/arrow_right.svg') no-repeat;
        background-size: 22px;
        width: 22px;
        height: 22px;
    }
}

.button--empty {
    position: relative;
    color: $glory-blue;
    padding-right: 25px;

    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background: url('/arrow_right.svg') no-repeat;
        background-size: 22px;
        width: 22px;
        height: 22px;
    }
}

.button-icon,
.media-button {
    @include icon-button--square;
    // background-color: $white;
    // border: 1px solid $lightgrey;
}

.media-button {
    margin: $indent 0 $indent $indent;
    border: 0;
    background-color: $lightgrey;
}

.button-add-image {
    background-color: $glory-blue;
    padding: .8rem $indent;
    width: 45vw;
    border: 0;
    color: $white;
}
