.search {
    position: absolute;
    bottom: 10rem;
    width: 90vw;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    text-align: left;
    box-shadow: -1px 4px 26px -12px #929292;

    input {
        width: 90%;
    }
}
    