.search {
    position: fixed;
    // bottom: 140px;
    width: 90vw;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    text-align: left;
    border: 1px solid $lightgrey;
    left: 5%;
    right: 5%;
    background-color: $white;

    input {
        width: 90%;
        line-height: 2.5rem;
    }
}
