.memories {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 350px;
    margin-top: $indent-xxxl;

    .memory--circles {
        width: 100%;
        height: 100%;

        .memory--circle {
            width: 125px;
            height: 125px;
            background-color: $lightgrey;
            border-radius: 50%;

            &-big {
                width: 165px;
                height: 165px;
                background-color: $lightgrey;
                border-radius: 50%;

                margin-top: $indent;
                margin-left: 3rem;
            }
        }

        div {
            position: absolute;

            &:nth-child(2) {
                margin-top: 5rem;
                margin-left: 14rem;
            }

            &:nth-child(3) {
                margin-top: 12rem;
                margin-left: 6rem;
            }
        }
    }

    h1 {
        position: absolute;
    }
}

// Overview page with added memories
.container-added-memories {
    width: 100%;

    h1 {
        margin-bottom: $indent;

        .name {
            color: $glory-blue;
            font-size: 2rem;
            font-family: 'Source Serif Semibold',serif;
            line-height: 2.3rem;
        }
    }

    .container--memories {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 5rem;

        .container--memories-memory {
            position: relative;
            margin: .3rem;
            width: calc(50% - .6rem);
            min-height: 130px;
        }

        h2 {
            position: absolute;
            bottom: $indent-xxs;
            left: $indent-xxs;
            width: 80%;
            z-index: 1;
            font-size: 1rem;
            color: #fff;
        }

        .overlay {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            border-radius: 4px;
            height: 100%;
            opacity: 50%;

            &--glory-green {
                @include overlay-gradient($glory-green);
            }

            &--glory-blue {
                @include overlay-gradient($glory-blue);
            }

            &--glory-grey {
                @include overlay-gradient($glory-grey);
            }

            &--glory-salmon {
                @include overlay-gradient($glory-salmon);
            }

            &--glory-red {
                @include overlay-gradient($glory-red);
            }
        }

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 4px;
            filter: grayscale(100%);
        }
    }
}

.add-btn {
    all: unset;
    background-color: $glory-salmon;
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 2;
    bottom: 5rem;
    right: $indent;
    border: solid 4px #fff;
    border-radius: 50px;

    img {
        width: 23px;
        height: 23px;
        margin: 13px 0 0 12.5px;
    }
}

// Detail page with memory
.container--details {
    .container--details-back {
        margin-bottom: $indent-xxxl;

        .back {
            @include back-icon;
            position: relative;
            margin-left: $indent-xxxl;
            display: block;

            &::after {
                content: '';
                position: absolute;
                left: -30px;
                top: 50%;
                transform: translateY(-50%);
                background: url('icons/arrow_back.svg') no-repeat;
                background-size: 16px;
                width: 16px;
                height: 16px;
            }
        }
    }

    p {
        margin-bottom: $indent;
        color: $grey;
    }

    .song-information {
        position: relative;
        width: 100%;
        min-height: 300px;
        max-width: 350px;
        border-radius: 4px;

        .background-image {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 4px;
            width: 100%;
            margin-bottom: $indent;
        }

        .overlay {
            @include overlay-gradient($darkgrey);
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 60%;
            border-radius: 4px;
        }

        p {
            position: absolute;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
            color: $white;
            letter-spacing: 1px;
            text-align: center;

            &.title {
                top: 35%;
                font-size: 1.25rem;
                font-weight: bold;
                letter-spacing: 1px;
            }

            &.artist {
                display: block;
                top: 45%;
                font-size: 1rem;
            }
        }
        
        .play {
            position: absolute;
            left: 50%;
            top: 65%;
            transform: translate(-50%, -50%);
            max-width: 30px;
        }
    }

    .list-item {
        font-family: 'Source Sans Regular', sans-serif;
        font-size: .8em;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &::before {
            content: '';
            display: block;
            width: 0;
            height: auto;
            text-indent: 0;
        }
    }

    .list-item-happy,
    .list-item-energy {
        order: 3;
        font-size: 10px;
    }

    h2 {
        font-size: 18px;
        margin: $indent-xxxl 0 $indent;
    }

    .container-catchword {
        margin-bottom: 4rem;
        padding-bottom: 2rem;

        .catchword {
            background: $glory-blue;
            color: #fff;
            padding: 8px;
            border-radius: 50px;
            margin-right: 4px;
            margin-top: $indent;
        }
    }

    .container-btn {
        position: fixed;
        bottom: 0.9rem;
        right: 2rem;
        margin: 0 0 5rem 13rem;

        .share-btn,
        .edit-btn {
            all: unset;
            background-color: $glory-salmon;
            width: 50px;
            height: 50px;
            border-radius: 50px;
            margin: 0 -10px 0 $indent;
            padding: 13px 11px;

            img {
                width: 23px;
                height: 23px;
                margin-bottom: -6px;
            }
        }
    }

    .share-btn {
        right: 5rem;
    }

    .edit-btn {
        right: $indent;
    }
}
