.memories {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 350px;
    margin-top: $indent-xxxl;

    .memory--circles {
        width: 100%;
        height: 100%;

        .memory--circle {
            width: 125px;
            height: 125px;
            background-color: $lightgrey;
            border-radius: 50%;

            &-big {
                width: 165px;
                height: 165px;
                background-color: $lightgrey;
                border-radius: 50%;

                margin-top: $indent;
                margin-left: 3rem;
            }
        }

        div {
            position: absolute;

            &:nth-child(2) {
                margin-top: 5rem;
                margin-left: 14rem;
            }

            &:nth-child(3) {
                margin-top: 12rem;
                margin-left: 6rem;
            }
        }
    }

    h1 {
        position: absolute;
    }
}

// Overview page with added memories
.container-added-memories {
    width: 100%;

    .container--memories {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 5rem;

        .container--memories-memory {
            width: calc(50% - 10px);
            height: 10rem;
            margin: $indent-xs 5px 0;
            border-radius: 4px;

            .overlay {
                width: 100%;
                height: 100%;
                border-radius: 4px;
                position: relative;
                bottom: 162.5px;
                opacity: 0.75;

                &--glory-green {
                    @include overlay-gradient($glory-green);
                }

                &--glory-blue {
                    @include overlay-gradient($glory-blue);
                }

                &--glory-grey {
                    @include overlay-gradient($glory-grey);
                }

                &--glory-salmon {
                    @include overlay-gradient($glory-salmon);
                }

                &--glory-red {
                    @include overlay-gradient($glory-red);
                }
            }

            img {
                border-radius: 4px;
                width: 100%;
                height: 100%;
                filter: saturate(0);
                object-fit: cover;
            }

            h2 {
                position: relative;
                z-index: 1;
                top: 9.5rem;
                font-size: 16px;
                margin-left: .5rem;
                color: #fff;
            }
        }
    }

    .add-btn {
        all: unset;
        background-color: $glory-salmon;
        width: 50px;
        height: 50px;
        position: fixed;
        z-index: 2;
        bottom: 5rem;
        right: $indent;
        border: solid 4px #fff;
        border-radius: 50px;

        img {
            width: 23px;
            height: 23px;
            margin: 13px 0 0 12.5px;
        }
    }
}

// Detail page with memory
.container--details {
    .container--details-back {
        margin-bottom: $indent-xxxl;

        a {
            padding-left: $indent-xxxl;
        }

        img {
            position: absolute;
            left: $indent;
            width: 23px;
            height: 23px;
        }
    }

    p {
        margin-bottom: $indent;
        color: $grey;
    }

    img {
        width: 100%;
        height: auto;
        margin-bottom: $indent;
    }

    .list-item {
        font-family: 'Source Sans Regular', sans-serif;
        font-size: .8em;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &::before {
            content: '';
            display: block;
            width: 0;
            height: auto;
            text-indent: 0;
        }
    }

    .list-item-happy,
    .list-item-energy {
        order: 3;
        font-size: 10px;
    }

    h2 {
        font-size: 18px;
        margin: $indent-xxxl 0 $indent;
    }

    .container-catchword {
        margin-bottom: 4rem;

        .catchword {
            background: $glory-blue;
            color: #fff;
            padding: 8px;
            border-radius: 50px;
            margin-right: 4px;
            margin-top: $indent;
        }
    }

    .container-btn {
        position: fixed;
        bottom: 0.9rem;
        right: 2rem;
        margin: 0 0 5rem 13rem;

        .share-btn,
        .edit-btn {
            all: unset;
            background-color: $glory-salmon;
            width: 50px;
            height: 50px;
            border-radius: 50px;
            margin: 0 -10px 0 $indent;
            padding: 13px 11px;

            img {
                width: 23px;
                height: 23px;
                margin-bottom: -6px;
            }
        }
    }

    .share-btn {
        right: 5rem;
    }

    .edit-btn {
        right: $indent;
    }
}
