.memories {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 350px;
    margin-top: 2rem;

    .memory--circles {
        width: 100%;
        height: 100%;

        .memory--circle {
            width: 125px;
            height: 125px;
            background-color: $lightgrey;
            border-radius: 50%;

            &-big {
                width: 165px;
                height: 165px;
                background-color: $lightgrey;
                border-radius: 50%;

                margin-top: 1rem;
                margin-left: 3rem;
            }
        }

        div {
            position: absolute;

            &:nth-child(2) {
                margin-top: 5rem;
                margin-left: 14rem;
            }

            &:nth-child(3) {
                margin-top: 12rem;
                margin-left: 6rem;
            }
        }
    }

    h1 {
        position: absolute;
    }
}

// Overview page with added memories
.container-added-memories {
    width: 100%;

    .container--memories {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .container--memories-memory {
            width: 14rem;
            height: 14rem;
            margin-top: 1.5rem;
            border-radius: 4px;

            &:nth-child(1) {
                /* Fallback color */
                // background: rgba(66, 245, 191, 0.4);
                background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)),
                    url('Rolling_Stone.png');
                // background: linear-gradient(rgba(66, 245, 191, 0.4) 80%, rgba(24, 92, 71, 0.5)) 10%, url(Rolling_Stone.png);
                background-blend-mode: saturation;
                background-size: cover;
            }

            .overlay {
                background: linear-gradient(rgba(66, 245, 191, 0.4) 80%, rgba(24, 92, 71, 0.5)) 10%;
                width: 100%;
                height: 100%;
                border-radius: 4px;
                position: relative;
                bottom: 21.5px;
            }

            &:nth-child(2) {
                background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)), url('Like_A_Rolling_Stone.jpg');
                background-blend-mode: saturation;
                background-size: cover;

                .overlay {
                    background: linear-gradient(rgba(252, 249, 112, 0.4) 80%, rgba(153, 152, 64, 0.5)) 10%;
                    width: 100%;
                    height: 100%;
                    border-radius: 4px;
                    position: relative;
                    bottom: 21.5px;
                }
            }

            &:nth-child(3) {
                background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)), url('After_Math.jpg');
                background-blend-mode: saturation;
                background-size: cover;

                .overlay {
                    background: linear-gradient(rgba(66, 245, 191, 0.4) 80%, rgba(24, 92, 71, 0.5)) 10%;
                    width: 100%;
                    height: 100%;
                    border-radius: 4px;
                    position: relative;
                    bottom: 21.5px;
                }
            }

            &:nth-child(4) {
                background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)), url('Here_Comes_The_Sun.jpg');
                background-blend-mode: saturation;
                background-size: cover;

                .overlay {
                    background: linear-gradient(rgba(252, 89, 86, 0.4) 80%, rgba(112, 48, 28, 0.5)) 10%;
                    width: 100%;
                    height: 100%;
                    border-radius: 4px;
                    position: relative;
                    bottom: 21.5px;
                }
            }

            h2 {
                position: relative;
                z-index: 1;
                top: 12.5rem;
                font-size: 16px;
                margin-left: 0.5rem;
                color: #fff;
            }
        }
    }

    .add-btn {
        all: unset;
        background-color: $glory-salmon;
        width: 50px;
        height: 50px;
        position: fixed;
        z-index: 2;
        bottom: 5rem;
        right: 1rem;
        border-radius: 50px;

        img {
            width: 23px;
            height: 23px;
            margin: 13px 0 0 12.5px;
        }
    }
}

// Detail page with memory
.container--details {
    .container--details-back {
        margin-bottom: 2rem;

        a {
            padding-left: 2rem;
        }

        img {
            position: absolute;
            left: 1rem;
            width: 23px;
            height: 23px;
        }
    }

    p {
        margin-bottom: 1rem;
    }

    img {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }

    .slidecontainer {
        width: 80%;

        .slider {
            appearance: none;
            width: 100%;
            height: 5px;
            border-radius: 4px;
            background: #d3d3d3;
            outline: none;
            margin-bottom: 1rem;
        }

        .slider::-webkit-slider-thumb {
            appearance: none;
            width: 23px;
            height: 23px;
            border-radius: 50%;
            background: $lightblue;
            cursor: pointer;
        }
    }

    span {
        &:nth-child(3) {
            position: relative;
            left: 85%;
        }
    }

    h2 {
        font-size: 18px;
        margin-bottom: 1rem;
    }

    .catchword {
        background: $lightblue;
        color: #fff;
        padding: 8px;
        border-radius: 50px;
        margin-right: 1rem;
        margin-top: 1rem;
    }

    .share-btn,
    .edit-btn {
        all: unset;
        background-color: $glory-salmon;
        width: 50px;
        height: 50px;
        position: fixed;
        bottom: 5rem;
        border-radius: 50px;

        img {
            width: 23px;
            height: 23px;
            margin: 13px 0 0 12.5px;
        }
    }

    .share-btn {
        right: 5rem;
    }

    .edit-btn {
        right: 1rem;
    }
}