.music-player--small {
    height: 73px;
    padding-left: 0.4rem;
    display: flex;
    position: fixed;
    bottom: 70px;
    width: 100%;
    background-color: $brokenwhite;
    visibility: hidden;
    transition: height .7s ease-in-out;

    .song-info {
        width: 80%;
    }

    .song {
        margin: .4rem 0;

        img {
            width: 55px;
        }
    }

    .controls {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 20px;
            transition: width .7s ease-in-out .2s;
        }
    }

    &.visible {
        visibility: visible;
    }

    .back {
        position: relative;
        margin-left: 65px;
        display: none;

        &::after {
            content: '';
            position: absolute;
            left: -30px;
            top: 50%;
            transform: translateY(-50%);
            background: url('./icons/arrow_back.svg') no-repeat;
            background-size: 22px;
            width: 22px;
            height: 22px;
        }
    }

    .button {
        margin: 0 auto;
        display: none;

        &.button-primair {
            width: 80vw;
            padding: 1rem;
        }
    }
}

.music-player--small.big {
    height: 90vh;
    transition: all .7s ease-in-out;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    padding-left: 0;

    .song-info {
        width: 100%;

        .song {
            display: flex;
            flex-direction: column;

            img {
                margin-bottom: 30px;
                width: 80%;
                max-width: 80%;
                transition: width .4s ease-in-out .2s;
            }

            .song-information {
                text-align: center;
            }
        }
    }

    .controls {
        width: 100%;
    }

    .back {
        display: block;
    }

    .button {
        display: block;
    } 
}
