nav {
    position: fixed;
    bottom: 0;

    ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        position: fixed;
        bottom: 0;
        border-top: 1px solid #8bd5d6;
        padding: 1em 0;

        a {
            font-family: Avenir-Light;
            font-size: 0.8em;
            color: #64a9a9;
        }
    }
}
