nav {
    position: fixed;
    bottom: 0;
    background-color: $white;
    height: 73px;
    max-height: 73px;
    width: 100%;
    overflow: hidden;

    ul {
        width: 100%;
        height: 73px;
        display: flex;
        justify-content: space-around;
        position: fixed;
        bottom: 0;
        padding: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, .16);
        background-color: $white;
        align-items: center;

        a {
            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                
                p {
                    color: $grey;
                    font-size: .8rem;
                }
                
                svg {
                    color: $grey;
                    padding: 0 0 .5em;
                    width: 2em;
                    height: 2em;
                }
            }

            .active-navigation {
                p {
                    color: $glory-blue;
                }
                
                svg .cls-1 {
                    fill: $glory-blue;
                }
            }
        }
    }
}

.navigation-state--all {
    form {
        fieldset {
            .buttons {
                bottom: 210px;
            }

            .input-text {
                bottom: 165px;
            }
        }
    }

    fieldset.navigation-state--buttons-only {
        .buttons {
            bottom: 90px;
        }
    }
}

.navigation-state--nav-only {
    form fieldset {
        .buttons {
            bottom: 140px;
        }

        .input-text {
            bottom: 95px;
        }
    }
}

.navigation-state--player-only {
    form fieldset {
        .buttons {
            bottom: 140px;
        }
        
        .input-text {
            bottom: 95px;
        }
    }
    
    .search {
        bottom: 95px;
    }
}

.navigation-state--nav-only {
    form fieldset.navigation-state--buttons-only {
        .buttons {
            bottom: 90px;
        }
    }
}

.navigation-state--nav-only {
    form fieldset.navigation-state--button-input {
        .buttons {
            bottom: 140px;
        }

        .input-text {
            bottom: 95px;
        }
    }
}

.navigation-state--player-only {
    form fieldset.navigation-state--buttons-only {
        .buttons {
            bottom: 90px;
        }
    }
}

#navigation-state--all {
    .search {
        bottom: 165px;
    }

    a.add-btn {
        bottom: 160px;
    }
}

#navigation-state--nav-only {
    .search {
        bottom: 95px;
    }

    a.add-btn {
        bottom: 90px;
    }

}

#navigation-state--player-only {
    .search {
        bottom: 95px;
    }

    a.add-btn {
        bottom: 90px;
    }
}
