nav {
    position: fixed;
    bottom: 0;
    background-color: $white;

    ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        position: fixed;
        bottom: 0;
        padding: 1em 0;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
        background-color: $white;
        align-items: baseline;

        a {
            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                
                p {
                    color: $grey;
                }
                
                svg {
                    color: $grey;
                    padding: 0 0 0.5em;
                    width: 2em;
                    height: 2em;
                }
            }

            .active-navigation {
                p {
                    color: $lightblue;
                }
                
                svg .cls-1 {
                    fill: $lightblue;
                }
            }
        }
    }
}
