.playlist-large {
    position: absolute;
    left: 0;
    top: 0;
    background: $white;
    margin-bottom: 3rem;
    z-index: 99;
    display: none;

    &.visible {
        display: block;
    }


    .back-overview {
        @include back-icon;

        position: relative;
        margin-left: 2rem;
        margin-bottom: $indent-xxl;
    }
}
