.playlist-large {
    position: absolute;
    left: 0;
    top: 0;
    background: $white;
    z-index: 99;
    display: none;

    &.visible {
        display: block;
    }


    .back-overview {
        position: relative;
        margin-left: 30px;
        margin-bottom: $indent-xxl;

        &::after {
            content: '';
            position: absolute;
            left: -30px;
            top: 50%;
            transform: translateY(-50%);
            background: url('./icons/arrow_back.svg') no-repeat;
            background-size: 22px;
            width: 22px;
            height: 22px;
        }
    }
}
