.navigation-dots-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    right: $indent;
    position: absolute;
    top: 40%;
    // z-index: 100;

    .navigation-dot {
        &::before {
            background-color: $lightgrey;
            border: 0;
            border-radius: 50%;
            content: '';
            display: flex;
            flex-direction: column;
            height: .6em;
            margin: 0 0 .5em;
            transition: all .2s ease-in-out;
            width: .6em;
        }
    }

    .active-navigation-dot {
        &::before {
            background-color: $glory-blue;
            border: 0;
            border-radius: 50%;
            content: '';
            display: flex;
            display: flex;
            height: .8em;
            margin: 0 0 .5em;
            transition: all .2s ease-in-out;
            width: .8em;
        }
    }
}
