<%- include('partials/head') %>
<header></header>
<section class="navigation-state--buttons-only add-music">
    <h1 class="legend-text">Voor de beste beleving kan je muziek toevoegen aan de herinnering.</h1>
    <div class="input input-muziekstream">
        <a href="/music-overview" class="button button-muziekstream">Open de muziekspeler</a>
    </div>
    <div class="buttons one-button">
        <a href="#input-1" class="button next button-secundair" id="add-memory-without-music"> Overslaan</a>
    </div>
</section>
<%- include('partials/add-memory') %>
<%- include('partials/navigation-holder') %>
<%- include('partials/footer') %>