<%- include('partials/head') %>

  <header>

  </header>

  <main class="conversational-UI">
    <!-- Page Content -->
    <%- include('partials/memoryChecker') %>

      <div class="buttons">
        <a href="addMemory.ejs" class="button">Herinnering toevoegen</a>
        <a class="button">Muziek luisteren</a>
      </div>
  </main>

  <%- include('partials/navigation') %>

    <%- include('partials/footer') %>