<%- include('partials/head') %>

  <header>

  </header>

  <main>
    <!-- Page Content -->
    <%- include('partials/memoryChecker') %>


      <a href="addMemory.ejs" class="button">Herinnering toevoegen</a>
      <a class="button">Muziek luisteren</a>

  </main>

  <%- include('partials/navigation') %>

    <%- include('partials/footer') %>