<%- include('partials/head') %>

<main>
  <div class="container login-text">
    <h1>Inloggen met Spotify</h1>
    <p>
      In deze app kan je herinneringen toevoegen via afbeeldingen, video en tekst.
    </p>
    <p>
      Het doel van deze app is om herinneringen terug te halen en op te slaan via muziek. Om dit te kunnen doen gebruikt Glory Days je Spotify account.
    </p>
    <p>
      Deze opgehaalde data wordt alleen gebruikt om deze app goed te laten werken.
    </p>
    <form action="/spotifylogin">
      <div class="inlog-buttons">
        <button type="submit" class="button button-login">Inloggen met Spotify</button>
      </div>
    </form>
</main>

<%- include('partials/footer') %>