<%- include('partials/head') %>

<main>
  <div class="container login-text">
    <h1>Inloggen met Spotify</h1>
    <p>Om muziek te kunnen streamen kunt u inloggen op spotify. Dit zal alleen gebruikt worden voor het vinden en
      afspelen van muziek. </p>
    <form action="/spotifylogin">
      <!-- <button type="submit" class="button button-login">Inloggen met Spotify</button>
      <button class="button button-secundair">Inloggen met Spotify</button> -->
      <div class="inlog-buttons">
        <button type="submit" class="button button-login">Inloggen met Spotify</button>
        <a href="/" class="button button-terug button-secundair">Terug naar overzicht</a>
      </div>
    </form>
</main>

<%- include('partials/footer') %>