<%- include('partials/head') %>
<a href="/memories-overview">
    <div class="container splashscreen">
        <main>
            <div class="splashscreen--title">
                <h1>Glory Days</h1>
                <p>Connect with your loved one by reliving memories through music</p>
            </div>
        </main>
    </div>
</a>
<%- include('partials/footer') %>