//$purple: #5c6bc0;
$glory-green: #439d9b;
$glory-blue: #9bd3d4;
$glory-grey: #bababa;
$glory-salmon: #d56a5c;
$glory-red: #c91f08;

$white: #fff;
$brokenwhite: #f0f0f0;
$darkgrey: #333;
$grey: #777;
$lightgrey: #bebebe;
$darkgreen: #425a59;
$verylightgrey: #f3f3f3;
