body {
    position: relative;
    background-color: $white;
}

.container {
    padding: $indent;
    margin: $center-margin;
    // max-width: $max-width;
    width: 100vw;
    width: calc(var(--vw, 1vw) * 100);
    height: 100vh;
    overflow: scroll;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.hidden {
    visibility: hidden;
}
