body {
    position: relative;
    background-color: $white;
}

.container {
    padding: $indent-xxxl $indent;
    margin: $center-margin;
    // max-width: $max-width;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.hidden {
    visibility: hidden;
}
