@mixin link-button {
    margin: $indent auto $indent 0;
    color: $glory-blue;
    padding: $indent;
    border-radius: 30px;
    text-align: left;
}

@mixin input-button-positioning {
    width: 80vw;
    max-width: 30rem;
    position: absolute;
    top: 30%;
    text-align: left;
    margin: $indent auto $indent 0;
}

@mixin icon-button--square {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 75px;
    height: 75px;
    // background-color: $lightgrey;

    img {
        height: 52px;
    }
}

@mixin overlay-gradient($color) {
    background: linear-gradient($color 80%, $color) 10%;
}

@mixin back-icon {
    &::after {
        content: '';
        position: absolute;
        left: -30px;
        top: 50%;
        transform: translateY(-50%);
        background: url('./icons/arrow_back.svg') no-repeat;
        background-size: 16px;
        width: 16px;
        height: 16px;
    }
}
