@font-face {
    font-family: 'Avenir-Black';
    src: url('./Avenir_Black.ttf');
}

@font-face {
    font-family: 'Avenir-Light';
    src: url('./Avenir_Book.ttf');
}

@font-face {
    font-family: 'Avenir-Medium';
    src: url('./AvenirLTStd-Medium.ttf');
}

html {
    font-size: 16px;
}

a,
label,
legend,
span {
    font-family: Avenir-Medium;
    font-size: .9em;
    letter-spacing: 1px;
    line-height: 1.5em;
}

input,
textarea,
li {
    font-family: Avenir-Light;
    font-size: .8em;
    letter-spacing: 1px;
    line-height: 1.5em;
}

.bold {
    font-weight: bold;
}

h1 {
    font-size: 1.75rem; // 28px
}

h2 {
    font-size: 1.5rem; // 24px
}

h3 {
    font-size: 1.375rem; // 22px
}

h4 {
    font-size: 1.25rem; // 20px
}

h5 {
    font-size: 1.125rem; // 18px
}

h1,
h2,
h3,
h4,
h5 {
    color: $darkgreen;
}

p {
    font-size: 1rem; // 16px
}
