@font-face {
    font-family: 'Avenir-Black';
    src: url('./fonts/Avenir_Black.ttf');
}

@font-face {
    font-family: 'Avenir-Light';
    src: url('./fonts/Avenir_Book.ttf');
}

@font-face {
    font-family: 'Avenir-Medium';
    src: url('./fonts/Avenir_Medium.ttf');
}

a,
label,
legend,
span {
    font-family: Avenir-Medium;
    font-size: 0.9em;
    letter-spacing: 1px;
    line-height: 1.5em;
}

input,
textarea,
li {
    font-family: Avenir-Light;
    font-size: 0.8em;
    letter-spacing: 1px;
    line-height: 1.5em;
}
