//---------------------------------------------
//    MARGINS AND PADDING'S
//---------------------------------------------

$indent: 1rem;          // 16px (base)
$indent-xxs: .625rem;   // 10px
$indent-xs: .75rem;     // 12px
$indent-s: .875rem;     // 14px
$indent-m: 1.125rem;    // 18px
$indent-l: 1.25rem;     // 20px
$indent-xl: 1.5rem;     // 24px
$indent-xxl: 1.875rem;  // 30px
$indent-xxxl: 2rem;     // 32px

$center-margin: 0 auto;

//---------------------------------------------
//    WIDTHS AND HEIGHTS
//---------------------------------------------

$max-width: 15rem;
